[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #333;
  --heading-color: #4444
}

[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #fff;
  --heading-color: #ddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--heading-color);
}